* {
  padding: 0;
  margin: 0;
  /* background-color: rgba(128, 128, 128, 0.068); */
}

.bg-crimson {
  background-color: #0e0202e8;
}

.crimson {
  background-color: rgb(39, 1, 1);
}

.text-crimson {
  color: rgb(39, 1, 1);
}

.modalNew {
  max-width: 600px;
  margin: 100px auto;
  background: #fff;
  overflow-y: auto;
  padding: 1rem;

}

.mui-scroll-lock {
  overflow: unset !important;
  padding-right: unset !important;

}


.white {
  background-color: white;
}

p {
  margin: 0 !important;
}

.row {
  --bs-gutter-x: 0;
}

.header {
  /* background-image: url(http://puzinovskiy.com/images/header_bg.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
}


.img_test {
  background-image: url("https://thumb.tildacdn.com/tild3161-6533-4130-a535-393962663861/-/cover/461x658/center/center/-/format/webp/-min.png");
  background-position: center;
  background-repeat: no-repeat;
}

.mr-70 {
  margin-right: -70px;
}

.ml-80 {
  margin-left: -80px;
}

.mt-530 {
  margin-top: 530px;
}

a.btn-submit {
  font-weight: 700;
  font-size: 12px;
  display: inline-block;
  color: white;
  text-decoration: none;
  outline: none;
  padding: 0.5em 2em;
  border-width: 2px 0;
  border-style: solid none;
  border-radius: 10px;
  background: linear-gradient(#f30f0f, #e31616) #e31616;
  transition: 0.2s;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-color: transparent;
  padding: 25px 60px;
  letter-spacing: 2px;
  box-shadow: 0px 10px 10px 0px rgb(158 0 16 / 30%);
}

a.btn-submit:hover {
  background: linear-gradient(#f50000, #f500005b) #f539003f;
}

a.btn-submit:active {
  background: linear-gradient(#f56200, #f53100) #f50000;
}

.z-6 {
  z-index: 6;
}

.wrap_border {
  z-index: 15;
  border-radius: 15px;
  background-color: #ffffff;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  box-shadow: 0px 1px 40px 1px rgb(120 12 12 / 40%);
}

.border_castom {
  border-width: 2px;
  border-radius: 15px;
  background-position: center center;
  border-color: #f3f0f0;
  border-style: solid;
  padding: 30px;
}

.insta {
  width: 30px;
  height: 30px;
  /* background-image: url("/img/instagram.png"); */
}

.brands_url i {
  color: rgb(120 12 12 / 80%);
}


.in-yan {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, white 50%, #0e0202e8 50%);
}

.border_style_1 {
  border-radius: 50px 0px;
}

.separator {
  border-color: transparent;
  border-style: solid;
  content: "";
  border-bottom: 2px solid #ff5555;
  display: inline-block;
  width: 130px;
}

.rounded-4 {
  border-radius: 1.3rem;
}

.week_list li::marker {
  color: #e31616;
}

.week_list {
  margin: 25px 0px;
}

.week_list li {
  margin: 10px 0px;
}

.pl-32px {
  padding-left: 32px;
}

.mt-250 {
  margin-top: -250px;
}

.wrapper_img_under {
  position: relative;
  /* for IE 6 */
}



.yan-in {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #0e0202e8 50%, white 50%);
}

.bg-wrapper-img2 img {
  position: absolute;
  width: 390px;
}

.bg-wrapper-img2 {
  z-index: 13;
  left: calc(50% - 450px + 877px);
  position: relative;
  top: -410px;
  bottom: 0;
  right: 0;
}

.achievements img {
  width: 80px;
}

.reviews {
  max-height: 700px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* IE и Edge */
  scrollbar-width: none;
  /* Firefox */
}

.reviews::-webkit-scrollbar {
  display: none;
}

#question-input {
  padding: 10px;
  min-height: 150px;
  min-width: 600px;
  max-height: 300px;
  border-radius: 15px;
}

#list {
  overflow-wrap: anywhere;
}

.review_data {
  text-align: start;
}

.review_text {
  text-align: start;
  padding: 0px 0px 50px 40px;
}

#submit {
  font-weight: 700;
  font-size: 12px;
  display: inline-block;
  color: white;
  text-decoration: none;
  outline: none;
  padding: 0.5em 2em;
  border-width: 2px 0;
  border-style: solid none;
  border-radius: 10px;
  background: linear-gradient(#f30f0f, #e31616) #e31616;
  transition: 0.8s;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-color: transparent;
  padding: 15px 30px;
  letter-spacing: 2px;
  box-shadow: 0px 10px 10px 0px rgb(158 0 16 / 30%);
}

#submit:hover {
  background: linear-gradient(#f50000, #f500005b) #f539003f;
}


.relative {
  position: relative;
}

.projAbsolute {
  position: absolute;
  top: 50%;
  left: 5%;
}



.projAbsolute_2 {
  position: absolute;
  top: 50%;
  right: 5%;
}

.projAbsolute_3 {
  max-width: 550px;
  position: absolute;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-color: transparent;
  border-style: solid;
  left: 50%;
  top: 15%;
  margin-left: -300px;
  margin-top: -200px;
}

.wrap_img {
  height: 400px;
  z-index: 5;
}


.ImgMobAvatar {
  display: none;
}

.brands_url_2 {
  display: none;
}

.ImgBonusMess {
  width: 500px;
  height: 200px;
}

.text_under {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 100%;
}

.text_under_2 {
  position: absolute;
  top: 40px;
  width: 100%;
}

.text_under p {
  color: black;
  padding: 10px;
}

.text_under_2 p {
  color: black;
  padding: 10px;
}

.MobBonusMess_2 {
  display: none;
}

@media (max-width: 1730px) {
  .projAbsolute {
    left: 0;
  }

  .projAbsolute_2 {
    right: 0;
  }

}

@media (max-width: 1551px) {
  .projAbsolute {
    left: -5%;
  }

  .projAbsolute_2 {
    right: -5%;
  }

  .projAbsolute_3 {
    max-width: 450px;
    margin-left: -230px;
  }
}

@media (max-width: 1301px) {
  .projAbsolute {
    left: -10%;
    top: 20%;
  }

  .projAbsolute_2 {
    right: -10%;
    top: 75%;
  }

  .projAbsolute_3 {
    max-width: 400px;
  }
}

@media (max-width: 1201px) {
  .projAbsolute {
    left: -15%;
  }

  .projAbsolute_2 {
    right: -15%;
  }
}

@media (max-width: 1101px) {
  .projAbsolute {
    left: 50%;
  }

  .projAbsolute_2 {
    right: 0%;
    top: 50%;
  }

  .projAbsolute_3 {
    margin-left: -400px;
    top: 40%;
  }

}

@media (max-width: 851px) {


  .brands_url {
    display: none !important;
  }

  ul {
    padding-left: unset;
  }

  .brands_url_2 {
    display: block;
    font-size: 3rem;
    color: rgb(120 12 12 / 80%);
  }


  .projAbsolute {
    position: relative;
    left: 0;

  }

  .projAbsolute_2 {
    position: relative;
  }

  .projAbsolute_3 {
    display: none;
  }

  .wrap_img {
    height: 50px;
  }

  .ImgMobAvatar {
    display: block;
  }

  .MobBonusMess {
    display: none;
  }

  .MobBonusMess_2 {
    display: block;
  }
}

@media (max-width: 651px) {

  .projAbsolute {
    position: relative;
    width: 350px;

  }

  .projAbsolute_2 {
    width: 350px;
  }
}

@media (max-width: 551px) {
  .projAbsolute {
    position: relative;
  }

  .ImgBonusMess {
    height: 230px;
    width: 100%;
  }
}

@media (max-width: 400px) {

  .projAbsolute,
  .projAbsolute_2 {
    display: none;
  }

  .MuiTypography-root {
    display: none;
  }

}